# Entornos virtuales
env/
venv/

# Ignorar todo el contenido de Data
Data/*

# Excepto el archivo .gitkeep
!Data/.gitkeep

# Archivos temporales de Jupyter y Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Configuración de VS Code
.vscode/